<template>
<div>
    <v-container grid-list-md>
        <v-flex xs12 md12 class="text-center">
            <v-avatar>
                <v-img :src="principal.photo.uploadFd"></v-img>
            </v-avatar>
            <h2>{{ (principal.fullName) }}</h2>
        </v-flex>
        <v-data-table :headers="headers" :items="staff" :items-per-page="5" class="elevation-1">
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Staff</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <v-btn rounded color="primary" dark class="mb-2">New Staff</v-btn>
                </v-toolbar>
            </template>

            <template v-slot:item.fullName="{ item }">
                <span @click="viewFullDetails(item)">{{ item.fullName }}</span>
            </template>

            <template v-slot:item.action="{ item }">
                <v-icon small class="mr-2" @click="viewFullDetails(item)">
                    mdi-pen</v-icon>
            </template>
        </v-data-table>

        <!-- STAFF DIALOG -->
        <v-dialog width="50%" v-if="thisStaff" v-model="profileDialog">
            <v-card>
                <v-img src="https://cdn.vuetifyjs.com/images/lists/ali.png" height="200px" dark>
                    <v-layout column fill-height>
                        <v-card-title>
                            <!-- <v-btn dark icon>
                  <v-icon>mdi-arrow-bottom-left</v-icon>
                </v-btn>-->

                            <v-spacer></v-spacer>

                            <v-btn dark icon class="mr-4" v-if="editProfile== false" @click="editProfile=true">
                                <v-icon>mdi-account-edit</v-icon>
                            </v-btn>
                            <v-btn dark icon class="mr-4" v-else @click="editProfile=false">
                                <v-icon>mdi-check</v-icon>
                            </v-btn>

                            <!-- <v-btn dark icon>
                  <v-icon>mdi-account-convert</v-icon>
                </v-btn>-->
                        </v-card-title>

                        <v-card-title class="white--text pl-12 pt-12">
                            <div class="display-1 pl-12" v-if="editProfile== false">{{ thisStaff.fullName }}</div>
                            <v-text-field dark v-if="editProfile==true" outlined :rules="fullNameRules" placeholder="Full Name" v-model="fullName"></v-text-field>
                        </v-card-title>
                    </v-layout>
                </v-img>

                <v-list two-line>
                    <v-list-item @click="1" dense>
                        <v-list-item-icon>
                            <v-icon color="indigo">mdi-cellphone</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title v-if="editProfile==false">{{ thisStaff.phone }}</v-list-item-title>
                            <v-list-item-title v-if="editProfile==true">
                                <v-text-field v-if="editProfile==true" outlined type="tel" :rules="phoneRules" placeholder="(234) xxxx xxx xx" v-model="phone" label="Phone"></v-text-field>
                            </v-list-item-title>

                            <v-list-item-subtitle v-if="editProfile==false">Mobile</v-list-item-subtitle>
                        </v-list-item-content>

                        <!-- <v-list-item-icon>
                <v-icon>chat</v-icon>
              </v-list-item-icon> -->
                    </v-list-item>

                    <v-divider inset></v-divider>

                    <v-list-item @click="1" dense>
                        <v-list-item-icon>
                            <v-icon color="indigo">mdi-email</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title v-if="editProfile==false">{{ thisStaff.emailAddress }}</v-list-item-title>
                            <v-list-item-title>
                                <v-text-field v-if="editProfile==true" outlined v-model.trim="email" :rules="emailRules" label="E-mail" required focus></v-text-field>
                            </v-list-item-title>
                            <v-list-item-subtitle v-if="editProfile==false">Personal</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider inset></v-divider>
                    <!-- user Name -->
                    <v-list-item @click="1" dense>
                        <v-list-item-icon>
                            <v-icon color="indigo">mdi-face-agent</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title v-if="editProfile==false">{{ thisStaff.username }}</v-list-item-title>
                            <v-list-item-title>
                                <v-text-field v-if="editProfile==true" outlined v-model.trim="userName" :rules="userNameRules" label="User Name" required focus></v-text-field>
                            </v-list-item-title>
                            <v-list-item-subtitle v-if="editProfile==false">User Name</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider inset></v-divider>
                    <!-- Gender -->
                    <v-list-item @click="1" dense>
                        <v-list-item-icon>
                            <v-icon color="indigo">mdi-gender-male-female</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title v-if="editProfile==false">{{ thisStaff.gender }}</v-list-item-title>
                            <v-list-item-title>
                                <v-select v-if="editProfile==true" :items="genders" v-model="gender" outlined label="Gender"></v-select>
                            </v-list-item-title>
                            <v-list-item-subtitle v-if="editProfile==false">Gender</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider inset></v-divider>
                    <!-- DOB -->
                    <v-list-item @click="1" dense>
                        <v-list-item-icon>
                            <v-icon color="indigo">mdi-email</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title v-if="editProfile==false">{{ thisStaff.dob }}</v-list-item-title>
                            <v-list-item-title>
                                <v-menu v-if="editProfile==true" outlined v-model="dobMenu" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y full-width min-width="290px">
                                    <template v-slot:activator="{ on }">
                                        <v-text-field outlined required v-model="dob" :rules="dobRules" label="Date Of Birth" readonly v-on="on"></v-text-field>
                                    </template>
                                    <v-date-picker show-current v-model="dob" @input="dobMenu = false"></v-date-picker>
                                </v-menu>
                            </v-list-item-title>
                            <v-list-item-subtitle v-if="editProfile==false">Date of Birth</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider inset></v-divider>
                    <!-- STAFF CLASSES -->
                    <v-list-item v-for="xclass in thisStaff.assingedClasses" :key="xclass.id" dense>
                        <v-list-item-icon>
                            <v-icon color="indigo">mdi-office-building</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>{{ xclass.name }}</v-list-item-title>
                            <v-list-item-subtitle v-html="xclass.subjects.join(', ')"></v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-dialog>
        <!-- //STAFF DIALOG -->
    </v-container>
</div>
</template>

<script>
import {
    mapState
} from "vuex";
export default {
    computed: mapState("principal", ["principal", "staff"]),
    data() {
        return {
            thisStaff: null,
            profileDialog: true,
            editProfile: false,
            headers: [{
                    text: "Full Name",
                    align: "left",
                    sortable: false,
                    value: "fullName"
                },
                {
                    text: "Email Address",
                    value: "emailAddress"
                },
                {
                    text: "Phone",
                    value: "phone"
                },
                {
                    text: "User Name",
                    value: "username"
                },
                {
                    text: "Gender",
                    value: "gender"
                },
                {
                    text: "Dob",
                    value: ""
                },
                {
                    text: "Actions",
                    value: "action",
                    sortable: false
                }
            ],
            /**
             * profile details
             *  */
            fullName: "funny",
            fullNameRules: [v => !!v || "FullName is required"],
            userName: "",
            userNameRules: [
                v => {
                    return !!v || "Username is required";
                }
            ],
            email: "",
            emailRules: [
                v => !!v || "E-mail is required",
                v =>
                /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                "E-mail must be valid"
            ],
            password: "",
            passwordRules: [v => !!v || "Password is required"],

            phone: "",
            phoneRules: [
                v => !!v || "Phone is required"
                // v => v.length <= 10 || 'Name must be less than 10 characters'
            ],
            genderRules: [v => !!v || "Gender is required"],
            genders: ["Male", "Female"],
            gender: "",
            dob: new Date().toISOString().substr(0, 10),
            dobRules: [v => !!v || "Date Of Birth is required"],
            //
            dobMenu: false
        };
    },
    methods: {
        viewFullDetails(item) {
            this.thisStaff = item;
            this.profileDialog = true;
        },
        updateProfile() {
            // [ "emailAddress", "password",]
            this.$axios
                .patch("/user/update-profile", {
                    fullName: this.fullName,
                    userName: this.userName,
                    emailAddress: this.emailAddress,
                    password: this.password,
                    phone: this.phone,
                    gender: this.gender,
                    birthDate: this.dob
                })
                .then(res => {
                    console.log(res);
                    this.editProfile = false;
                })
                .catch(() => {});
        }
    }
};
</script>

<style scoped>
.v-data-table td {
    padding: 0px !important;
}

.profile {
    position: absolute;
    z-index: 1;
}
</style>
