<template>
  <div>
    <v-container>
      <h2 class="mb-4">Principals</h2>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        solo
        single-line
        hide-details
      ></v-text-field>
      <br />
      <v-data-table
        :search="search"
        :headers="headers"
        :items="principals"
        :items-per-page="10"
        class="elevation-1"
      >
        {{ totalNoOfPrincipals }}
        <template v-slot:item.fullName="{ item }">
          <span @click="loadPrincipal(item.id)" :to="`/principal/${item.id}`">{{ item.fullName }}</span>
        </template>
        <!-- FOR CREDIT -->
        <template v-slot:item.credits="{ item }">
          <v-chip :color="getColor(item.credits)" dark>{{ item.credits }}</v-chip>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>


<script>
import { mapState, mapActions, mapGetters } from "vuex";

import Vue from "vue";
Vue.prototype.getColor = function(credits) {
  if (credits <= 30) {
    return "orange";
  } else if (credits <= 20) {
    return "red";
  } else if (credits > 40 && credits < 50) {
    return "orange";
  } else {
    return "green";
  }
};

export default {
  computed: {
    ...mapState("principal", ["principals"]),
    ...mapGetters("principal", ["totalNoOfPrincipals"])
  },
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Full Name",
          align: "left",
          sortable: false,
          value: "fullName"
        },
        { text: "Phone", value: "phone" },
        { text: "Email Address", value: "emailAddress" },
        { text: "Gender", value: "gender" },
        { text: "School Owned", value: "school.name" },
        { text: "Credits", value: "credits" }
      ]
    };
  },
  methods: mapActions("principal", ["getPrincipals", "loadPrincipal"]),
  mounted() {
    this.getPrincipals();
  }
};
</script>
