<template>
  <v-container>
    <div class="ma-5 text-center">
      <h2>{{ school.name }}</h2>
      <small>{{ school.description }}</small>
      <br />
      by {{ school.principal.fullName }}
    </div>
    <v-divider inset></v-divider>
    <h3 class="ma-5">Classes</h3>
    <v-data-iterator :items="classes">
      <template v-slot:default="props">
        <v-layout wrap>
          <v-flex
            @click="viewClass(item)"
            v-for="item in props.items"
            :key="item.name"
            xs12
            sm6
            md4
            lg3
          >
            <v-card>
              <v-card-title class="subheading font-weight-bold">{{ item.name }}</v-card-title>

              <v-divider></v-divider>

              <v-list dense>
                <v-list-item>
                  <v-list-item-content class="grey--text">Students:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ item.students.length }}</v-list-item-content>
                </v-list-item>

                <v-list-item @click="loadUser(item.assignedTo.id)">
                  <v-list-item-content class="grey--text">Assigned To:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ item.assignedTo.fullName }}</v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content class="grey--text">Sheets:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ item.sheets.length }}</v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content class="grey--text">Subjects:</v-list-item-content>
                  <v-list-item-content class="align-end">{{ item.subjects.join(", ") }}</v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-flex>
        </v-layout>
      </template>
    </v-data-iterator>

    <v-dialog v-model="viewClassDialog">
      <v-card>
        <v-card-text>{{ xclass }}</v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      viewClassDialog: false,
      xclass: {},
      headers: []
    };
  },
  computed: {
    ...mapState({
      school: state => state.school.school,
      classes: state => state.school.classes
    })
  },
  methods: {
    ...mapActions("principal", ["loadUser"]),
    viewClass(item) {
      this.xclass = item;
      this.viewClassDialog = true;
    }
  }
};
</script>
