<template>
  <div>
    <v-container>
      <h1 class="mb-7">Schools</h1>
      <v-data-table :headers="headers" :items="schools" class="elevation-1">
                <template v-slot:item.name="{ item }">
          <span style="color:var(--v-primary-base)" @click="viewSchool(item.id)" :to="`/school/${item.id}`">{{ item.name }}</span>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      headers: [
        { text: "Name", value: "name" },
        { text: "Description", value: "description" },
        { text: "Session", value: "period.session" },
        { text: "Term", value: "period.term" },
        { text: "Principal", value: "principal.fullName" },
        { text: "Created At", value: "createdAt" }
      ]
    };
  },
  computed: mapState({
      schools: state => state.school.schools
}),
  methods: mapActions("school", ["getAllSchools", "viewSchool"]),
  mounted() {
    this.getAllSchools();
  }
};
</script>
