<template>
    <v-container>
    <Analytics></Analytics>
    </v-container>
    <!-- <v-container grid-list-md fill-height justify-center>
      <v-layout row wrap></v-layout>
    </v-container> -->
</template>

<script>
// @ is an alias to /src
import Analytics from "@/components/Analytics";
export default {
  components: {
    Analytics
  }
};
</script>
 <style scoped>
</style>
 