<template>
  <v-container class="home">
    <v-layout row wrap justify-center>
      <v-flex xs12 sm4 md4 v-for="(list,index) of lists" :key="index">
        <v-sheet
          flat
          id="card"
          height="150"
          width="90%"
          class="v-sheet--offset mx-auto"
          color="cyan"
          elevation="12"
          max-width="calc(100% - 32px)"
        >
          <v-sparkline :labels="labels" :value="value" color="white" line-width="2" padding="16"></v-sparkline>
        </v-sheet>
        <v-card height="250" class="pa-3 ma-2">
          <v-list color="transparent" class="text">
            <v-list-tile>
              <v-list-item-content>
                <v-list-item-title class="headline font-weight-light my-4">{{ list.title }}</v-list-item-title>

                <v-list-item-subtitle class="text">{{ list.subTilte }}</v-list-item-subtitle>
              </v-list-item-content>
              <v-divider></v-divider>
              <v-icon class="mr-2" small>mdi-clock</v-icon>
              <span class="caption grey--text font-weight-light">{{ list.time }}</span>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
      <!--  -->
      <v-layout row wrap class="mt-4">
        <v-flex xs12 sm4 md3 v-for="(item,index) of items" :key="index">
          <v-card height="142" class="pa-3 ma-2">
            <v-layout row wrap>
              <v-flex xs4 class="d-flex">
                <v-card dark class="elevation-5 pa-5 " id="secondCard" :color="item.color">
                  <v-icon size="40">{{ item.icon }}</v-icon>
                </v-card>
              </v-flex>
              <v-flex xs8 class="text-right px-2">
                <!-- <v-icon class="mr-2" small>mdi-clock</v-icon> -->
                <div id="secondText" class="headline font-weight-light">{{ item.header }}</div>
                <div id="secondText" class>{{ item.subHeader }}</div>
              </v-flex>
            </v-layout>

            <v-divider></v-divider>
            <v-icon class="mr-2" small>mdi-clock</v-icon>
            <span class="caption grey--text align-center font-weight-light">{{item.content}}</span>
          </v-card>
        </v-flex>
      </v-layout>
    </v-layout>
  </v-container>
</template>

<script>
// @ is an alias to /src

export default {
  data() {
    return {
      labels: ["12am", "3am", "6am", "9am", "12pm", "3pm", "6pm", "9pm"],
      value: [200, 675, 410, 390, 310, 460, 250, 240],
      lists: [
        {
          title: "Email Subscription",
          subTilte: "a cool and you",
          time: "last registration 26 minutes ago"
        },
        {
          title: "hello world",
          subTilte: "the pink stars are falling",
          time: "last registration 26 minutes ago"
        },
        {
          title: "hello world",
          subTilte: "under the dome is dope",
          time: "last registration 26 minutes ago"
        }
      ],
      items: [
        {
          header: "Revenue",
          subHeader: "$24,000",
          content: "registered 24min ago",
          color: "blue",
          icon: "mdi-face"
        },
        {
         header: "Revenue",
          subHeader: "$24,000",
          content: "registered 24min ago",
          color: "green",
          icon: "mdi-phone"
        },
        {
          header: "Revenue",
          subHeader: "$24,000",
          content: "registered 24min ago",
          color: "pink",
          icon: "mdi-phone"
        },
        {
        header: "Revenue",
          subHeader: "$24,000",
          content: "registered 24min ago",
          color: "pink",
          icon: "mdi-phone"
        }
      ]
    };
  }
};
</script>

<style scoped>
#card {
  position: relative;
  transform: translate(-1px);
  top: 30%;
  z-index: 70;
}

.text {
  position: relative;
  top: 40%;
}

#secondCard {
  position: relative;
  /* transform: translate(20px); */
  top: -30%;
  left: 10%;
  z-index: 70;
}

#secondText {
  /* position: relative;
    transform: translate(40%);
    top: -30%; */
}
</style>
